
* {
  margin :0;
  padding :0;
}

.dp {
  width: 3rem;
}

.carousel-heading {
  background-color: #f4f4f4;


}

.card-custom {
  padding: 20px;
}




/*
________________________________________________________________
contact us
________________________________________________________________*/


